<div class="p-comment__formBox">
  <p class="p-comment__formTitle">コメント記入</p>
  <%= form_with(model: [@item, comment], local: true) do |f| %>
    <%= f.hidden_field :item_id %>
    <div class="form-group">
      <%= f.label :comment, 'コメント' %>
      <%= f.text_area :comment, class: 'form-control', rows: 4 %>
    </div>
    <%= f.submit '送信', class: 'btn btn-primary' %>
  <% end %>
</div>
