  <div class="slider-box">
    <div class="slider">
      <div class="nest-img"><%= image_tag 'item1' %></div>
      <div class="nest-img"><%= image_tag 'item2' %></div>
      <div class="nest-img"><%= image_tag 'item3' %></div>
    </div>
  </div>
<%# 商品一覧 %>
  <div class='item-contents'>
  <button id="top_btn"><%= link_to '新規出品', new_item_path %></button>

  <h2 class='title'>商品一覧</h2>
    <ul class='item-lists'>
      <% @items.each do |item| %>
      <li class='list'>
        <div class='item-img-content'>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>

          <div class='item-price'>
            <span><%= item.price %>円</span>
             <span><%= item.created_at.to_s(:datetime_jp) %></span>
             <span><%= item.updated_at.to_s(:datetime_jp) %></span>
            <div class='star-btn'>
              <span class='star-count'>0</span>
            </div>
          </div>
          <%= link_to '詳細', item %>
          <%= link_to '編集', edit_item_path(item) %>
          <%= link_to '削除', item, method: :delete %>
        <% end %>
      </li>
    </div>

<div class="pager">
  <ul class="pagination">
       <%= paginate @items %>
  </ul>
</div>
