<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>
    <div class="item-explain-box">
      <span><%= simple_format(@item.explanation) %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">商品名</th>
          <td class="detail-value"><%= @item.name %></td>
        </tr>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        
        <tr>
          <th class="detail-item">価格</th>
          <td class="detail-value"><%= @item.price%>円</td>
        </tr>
      </tbody>
    </table>

    <p>コメント一覧</p>
    <%= render @item.comments %>

    <%= render 'comments/form', comment: @comment %>
    
    <div class="option">
      <div class="favorite-btn">
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
      
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>
  <%= link_to '削除', @item, method: :delete %>
  <%= link_to '一覧', items_path %>
  <%= link_to 'もどる', root_path, class:"back-btn" %>

