<!DOCTYPE html>
<html>
  <head>
    <title>ShopApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/620e84197e.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag("favicon.ico") %>
  
    
    

    <%# <%= javascript_pack_tag 'application' %>
    <%# <%= stylesheet_pack_tag 'application' %> 
  </head>

  <body>
      <ul>
      <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>  
      <% end %>
      </ul>
    <%= yield %>
  </body>
</html>
